<h1 class="text-center mt-3 mb-4">Danh sách hợp đồng</h1>

<div class="d-flex justify-content-around">
  <button routerLink="/contract/booking" class="btn btn-success">Đặt dịch vụ</button>
<!--  <div class="d-flex justify-content-end">-->
<!--    <input class="form-control col-6 border-dark" type="search" placeholder="Nhập tên dịch vụ">-->
<!--    <button class="btn btn-primary" type="submit">Search</button>-->
<!--  </div>-->
</div>

<div class="container">
  <table class="table table-hover mt-4">
    <thead>
    <tr>
      <th>ID</th>
      <th>Ngày bắt đầu</th>
      <th>Ngày kết thúc</th>
      <th>Tổng tiền</th>
      <th>Nhân viên</th>
      <th>Khách hàng</th>
      <th>Dịch vụ</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contractList">
      <td> {{contract.id}} </td>
      <td> {{contract.startDay}} </td>
      <td> {{contract.endDay}} </td>
      <td> {{contract.totalMoney}} </td>
      <td> {{contract.employee.name}} </td>
      <td> {{contract.customer.name}} </td>
      <td> {{contract.service.name}} </td>
      <td>  <button class="btn btn-info" [routerLink]="'/contract/detail/'+contract.id"><i class="fa fa-info-circle"></i></button><button style="margin-left: 5px" class="btn btn-primary" [routerLink]="'/contract/update/'+contract.id"><i class="fa fa-edit"></i></button> </td>
    </tr>
    </tbody>
  </table>
  <!--  <nav class="d-flex justify-content-center page" >-->
  <!--    <ul class="pagination">-->
  <!--      <li class="page-item"><button *ngIf="page > 1" (click)="page = page - 1; getAllCustomerHavePagination()" class="page-link bg-dark text-light" style="width: 100px">Previous</button></li>-->
  <!--      <li class="page-item active "><button class="page-link" style="background-color: black !important; border: 1px solid black" >{{page}}</button></li>-->
  <!--      <li class="page-item"><button *ngIf="check"  (click)="page = page + 1; getAllCustomerHavePagination()" class="page-link bg-dark text-light" style="width: 100px">Next</button></li>-->
  <!--    </ul>-->
  <!--  </nav>-->
</div>



