<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.pinimg.com/originals/f1/6f/ed/f16fedc86686146624897737cf4338d8.jpg" class="d-block w-100"
           alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/48/24/b4/4824b49caaf70dc05b3a8dade5ea336c.jpg" class="d-block w-100"
           alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/ba/fd/fd/bafdfd5e12bf8acbf12dacc37e3e0b6c.jpg" class="d-block w-100"
           alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
