<h1 class="text-center mt-3 mb-4">Danh sách khách hàng</h1>

<div class="d-flex justify-content-around">
  <button routerLink="/customer/create" class="btn btn-success">Tạo mới khách hàng</button>
  <div class="d-flex justify-content-end">
    <input (keyup)="name = $event.target.value; getAllCustomerHavePagination()" class="form-control col-6 border-dark" type="search" placeholder="Nhập tên khách hàng">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</div>

<div class="container">
  <table class="table table-hover   mt-4">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tên</th>
      <th>Số điện thoại</th>
      <th>Email</th>
      <th>Loại khách hàng</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customerList">
      <td> {{customer.id}} </td>
      <td> {{customer.name}} </td>
      <td> {{customer.phoneNumber}}</td>
      <td> {{customer.email}} </td>
      <td> {{customer.customerType.name}} </td>
      <td>  <button class="btn btn-primary" [routerLink]="'/customer/update/'+customer.id" style="margin-right: 10px"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger" (click)="openDialog(customer)" style="margin-right: 10px"><i class="fa fa-trash"></i></button>
            <button class="btn btn-info" style="margin-right: 10px" [routerLink]="'/customer/detail/'+customer.id"><i class="fa fa-user"></i></button>
            <button class="btn btn-warning" [routerLink]="'/customer/show-contract/'+customer.id"><i class="fa fa-envelope"></i></button> </td>
    </tr>
    </tbody>
  </table>
  <nav class="d-flex justify-content-center page" >
    <ul class="pagination">
      <li class="page-item"><button *ngIf="page > 1" (click)="page = page - 1; getAllCustomerHavePagination()" class="page-link bg-dark text-light" style="width: 100px">Previous</button></li>
      <li class="page-item active "><button class="page-link" style="background-color: black !important; border: 1px solid black" >{{page}}</button></li>
      <li class="page-item"><button *ngIf="check"  (click)="page = page + 1; getAllCustomerHavePagination()" class="page-link bg-dark text-light" style="width: 100px">Next</button></li>
    </ul>
  </nav>
</div>


