<h1 class="text-center mt-3 mb-4">Danh sách dịch vụ</h1>

<div class="d-flex justify-content-around">
  <button routerLink="/employee/create" class="btn btn-success">Thêm mới dịch vụ</button>
  <div class="d-flex justify-content-end">
    <input class="form-control col-6 border-dark" type="search" placeholder="Nhập tên dịch vụ">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</div>

<div class="container">
  <table class="table table-hover mt-4">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tên</th>
      <th>Diện tích</th>
      <th>Giá</th>
      <th>Trạng thái</th>
      <th>Loại dịch vụ</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of serviceList">
      <td> {{service.id}} </td>
      <td> {{service.name}} </td>
      <td> {{service.area}} </td>
      <td> {{service.cost}} </td>
      <td [ngSwitch]="service.status">
      <span *ngSwitchCase="true"> Đã được thuê </span>
      <span *ngSwitchCase="false"> Còn </span>
      </td>
      <td> {{service.serviceType.name}} </td>
      <td> <button class="btn btn-primary" [routerLink]="'update/'+service.id" style="margin-right: 10px"><i class="fa fa-edit"></i></button> <button class="btn btn-danger" style="margin-right: 10px"><i class="fa fa-recycle"></i></button> <button class="btn btn-info" [routerLink]="'detail/'+service.id"><i class="fa fa-user"></i></button> </td>
    </tr>
    </tbody>
  </table>
  <!--  <nav class="d-flex justify-content-center page" >-->
  <!--    <ul class="pagination">-->
  <!--      <li class="page-item"><button *ngIf="page > 1" (click)="page = page - 1; getAllCustomerHavePagination()" class="page-link bg-dark text-light" style="width: 100px">Previous</button></li>-->
  <!--      <li class="page-item active "><button class="page-link" style="background-color: black !important; border: 1px solid black" >{{page}}</button></li>-->
  <!--      <li class="page-item"><button *ngIf="check"  (click)="page = page + 1; getAllCustomerHavePagination()" class="page-link bg-dark text-light" style="width: 100px">Next</button></li>-->
  <!--    </ul>-->
  <!--  </nav>-->
</div>


