<!--<app-font-size></app-font-size>-->
<!--<app-pet></app-pet>-->
<!--<app-calculator></app-calculator>-->
<!--<app-choose-color></app-choose-color>-->
<!--<app-studen-provjp></app-studen-provjp>-->

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownExercise" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Exercises</a>
        <div class="dropdown-menu" aria-labelledby="dropdownExercise">
          <a class="dropdown-item" routerLink="/calculator">Calculator</a>
          <a class="dropdown-item" routerLink="/color">Change color</a>
          <a class="dropdown-item" routerLink="/hacker-news">Hacker news</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownPractice" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Practices</a>
        <div class="dropdown-menu" aria-labelledby="dropdownPractice">
          <a class="dropdown-item" routerLink="/font-size">Font size</a>
          <a class="dropdown-item" routerLink="/pet">Pet</a>
          <a class="dropdown-item" routerLink="/test-output">Test output</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/student"> Student <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>


